
<div class="drivers-container">



    <h1>Drivers</h1>
    <div ng-repeat="driver in drivers">
         <div class="driver-container row">
                <div class="col-sm-12 col-md-12">
                    <div class="driver-img"><img class="driver-thumb" src="img/drivers/{{driver.Driver.driverId}}.png"></div>
                    <div class="drivers-info">
                        <div class="first-name"><strong> <a href="#/drivers/{{driver.Driver.driverId}}">{{driver.Driver.familyName}} {{driver.Driver.givenName}}</a></strong></div>
                        <div class="constructor">{{driver.Constructors[0].name}}</div>
                    </div>
                    <div class="points">Points<br/><strong>{{driver.points}}</strong></div>
                </div>
            </div>
</div>

