<section id="main">
  <a class="button" href="/"><- Back to drivers list</a>
  <div class="row">

<div class="col-sm-12 col-md-12">
       <div class="row driver-row">
                <div class="col-sm-12 col-md-12">
                    <div class="driver-page-img"><img src="img/drivers/{{driver.Driver.driverId}}.png"></div>
                    <div>
                        <div class="driver-page-first-name"><strong> {{driver.Driver.familyName}} {{driver.Driver.givenName}}</a></strong></div>
                            <div>
                              Points: <strong>{{driver.points}}</strong><br/>
                              Country: <strong>{{driver.Driver.nationality}}</strong>   <br/>
                              Team: <strong>{{driver.Constructors[0].name}}</strong><br/>
                              Birth: <strong>{{driver.Driver.dateOfBirth}}</strong><br/>
                             Constructor: <strong>{{driver.Constructors[0].name}}</strong><br/>
                             <a href="{{driver.Driver.url}}" target="_blank">Biography  </a>
                            </div>
                    </div>
                </div>
            </div>

   <!--    <div class="driver-picture">
        <div class="avatar">
        <div class="driver-img">
            <img ng-show="driver" class="driver-thumb" src="img/drivers/{{driver.Driver.driverId}}.png" />
        </div>
       
         <div class="driver-name">
          {{driver.Driver.givenName}} {{driver.Driver.familyName}}
          </div>
        </div>
      </div>
    -->

</div>



<div class="col-sm-12 col-md-12">
  <div class="main-content">
    <table class="result-table table-striped table-bordered table-responsive" border="1">
      <thead>
        <tr><th colspan="5">Formula 1 2014 Results</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>Round</td> <td>Grand Prix</td> <td>Team</td> <td>Grid</td> <td>Race</td>
        </tr>
        <tr ng-repeat="race in races">
          <td align="center">{{race.round}}</td>
          <td><img  src="img/flags/{{race.Circuit.Location.country}}.png" /><br>{{race.raceName}}</td>
          <td>{{race.Results[0].Constructor.name}}</td>
          <td align="center">{{race.Results[0].grid}}</td>
          <td align="center">{{race.Results[0].position}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>






</div>
</section>
