/* The html and body elements cannot have any padding or margin */
html,
body {
    height: 100%; /* for sticky footer */        
}

h1 {
    color: #fff;
    z-index: 1000;
    position: relative;
    font-size: 16px;
    padding-top:20px;
}
.bgwrapper {
          background: url("../img/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
   position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  z-index: 0;

}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px; /* must equal footer height */
    z-index: 1000;
    max-width: 600px;
}

.drivers-container {
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.37);
    padding: 0px 40px;
    border-radius: 5px;
}
.driver-container {
    position: relative;
    padding: 0px;
    border: 1px solid #F0F0F0;
    border-radius: 7px;
    margin: 15px 0px 15px 0px;
    background: rgba(255, 255, 255, 0.86);
    color: #777;

}

.driver-thumb {
    width: 100%;
    /* position: absolute; */
    /* z-index: 0; */
    /* margin-left: -39px; */
    /* margin-top: 2px; */
}

img.user-thumb {}

.driver-img {
    float: left;
     
    width: 68px; 
     
    height: 65px; 
     border-radius: 50px; 
     -webkit-border-radius: 66px; 
    -moz-border-radius: 50px;
     overflow: hidden; 
     
    margin: 23px 0px 24px 4px; 
     box-shadow: 0px 2px 3px #999999; 
}

.driver-page-img img{
    border-radius: 31px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 13px;
    
}


.drivers-info {
    font-size: 14px;
    padding: 33px 0px 10px 27px;
    float: left;
    width: 53%;
}

.user-id {
    position: absolute;

}

.first-name {

}

.last-name {

}

.grades {

}

.button-panel {
    position: absolute;
    right:0px;
    top:0px;
}




.create-button {
    margin-top:23px;
}

.navbar {

    margin: auto;
    text-align: center;
  
}


.navbar-header {
    width: 100%;
    padding-top: 10px;
    text-align: left;
    font-size: 23px;
    font-weight: bold;
}

.navbar-brand {
    float: none;

}
.navbar-toggle {
  margin-top:-3px;
}
.points {
    background-color: rgb(213, 86, 86);
    /* height:75px; */
    /* width: 62px; */
    border-radius: 38px;
    color:#fff;
  
    padding: 9px 9px;
    /* position: absolute; */
    /* top: 26px; */
    /* left: 3px; */
    text-align: center; 
    /* display: block; */
    margin: 29px 0px 0px 0px;
    float: right;
    position: relative;
}


#main {
  z-index: 1000;
  position: relative;
  padding: 40px;
  margin: 40px auto;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.85);
}


.driver-flag {
  float: left;
 
}

.driver-name{
  float: left;
  
}
.driver-status {
  float:left;
}

.driver-row {
  text-align: center;
}

table.result-table {
width: 100%;
margin-top: 30px;
}

.driver-page-first-name {
  font-size: 17px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  
    body{
      background: #999999;
    }
    .drivers-info {
    font-size: 12px;
    padding: 33px 0px 10px 27px;
    float: left;
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
   .bgwrapper {display: none;}
}